/* style.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.container, .container2, .container3 {
  width: 50%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.card, .card2, .card3 {
  transform-style: preserve-3d;
  box-shadow: 0px 20px 20px rgba(0, 0,0, 0.2), 0px 0px 50px rgba(0, 0,0, 0.2);
  border-radius: 30px;
  padding: 0 5%;
  min-height: 80vh;
  width: 75%;
  position: relative;
}

.nike, .nike2, .nike3{
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.nike img, .nike2 img, .nike3 img{
  width: 200px;
  height: auto;
  align-items: center;
  z-index: 2;
  transition: all 0.75s ease-out;
}

.circle{
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(0,0,0,.75) 0%, rgba(193,193,193,.75) 100%);
}

.circle2{
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(111,148,208,.75) 0%, rgba(193,193,193,.75) 47%, rgba(255,255,255,.75) 100%);
}

.circle3{
  position: absolute;
  z-index: 1;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: linear-gradient(90deg, rgba(0,0,0,0.75) 0%, rgba(182,86,22,0.75) 47%, rgba(255,255,255,0.75) 100%);
}


.info h1, .info2 h1, .info3 h1{
  font-size: large;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}

.info h3, .info2 h3, .info3 h3{
font-size: medium;
padding: 15px 0px;
color: rgb(65, 64, 64);
font-weight: lighter;
transition: all 0.75s ease-out;
}

.sizes, .sizes2, .sizes3{
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  gap: 5px 50px;
  transition: all 0.75s ease-out;
  
}

.sizes button, .sizes2 button, .sizes3 button{
  background: none;
  border: none;
  width: 45px;
  border-radius: 30px;
  padding: 5px 10px;
  margin-top: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0,0, 0.2);
  cursor: pointer;
  font-weight: bold;
  color:  rgb(65, 64, 64);
  
}

.sizes button.active, .sizes2 button.active, .sizes3 button.active{
  color: white;
  background-color: rgb(65, 64, 64);
  
}

.purchase, .purchase2, .purchase3{
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.purchase button, .purchase2 button, .purchase3 button{
  width: 70%;
  height: 30px;
  padding: 5px 0px;
  border: none;
  color: white;
  background-color: rgb(255, 84, 78);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bolder;
  transition: all 0.75s ease-out;
}